*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
html{
    --primary-color: #3A3845;
}

/* ---------------------------------------------- */

.container{
    width: calc(100% - 20%);
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* ---------------------------------------------- */

.Header{
    padding: 21.84px 0;
}
.menu-icon{
    display: none;
}
.logo{
    width: 145px;
    height: auto;
}
.Menu ul{
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}
.Menu a {
    text-decoration: none;
    color: var(--primary-color);
}
.HeaderRight ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------- */

.items{
    gap: 30px;
    padding:30px 0
}
.item{
    width: calc((100% - 90px)/4 );
    text-align: center;
    color:#3A3845;
}
.item img{
    width: 100%;
    height: auto;
}
.item h2{
    font-size: 18px;
    text-transform: uppercase;
}

/* ---------------------------------------------- */    

@media screen and (min-width:0px) and (max-width: 996px){
    .Menu {
        display: none;
    }

    .HeaderRight {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

@media screen and (min-width:0px) and (max-width: 400px){
    .items .row{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
}

@media screen and (min-width:401px) and (max-width: 770px){
     .item{
        width: calc((100% - 60px)/2 );
    }
}
@media screen and (min-width:771px) and (max-width: 900px){
    .item{
        width: calc((100% - 60px)/3 );
    }
}