*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --primary-color: #3A3845;
    --primary-font: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

/* ---------------------------------------------- */

.container{
    width: calc(100% - 20%);
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------- */

.Header{
    padding: 21.84px 0;
}
.menu-icon{
    display: none;
}
.logo{
    width: 145px;
    height: auto;
}
.Menu ul{
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}
.HeaderRight ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.Header a {
    text-decoration: none;
    font: 14px var(--primary-font);
    color: var(--primary-color);
}

/* ---------------------------------------------- */

.items{
    gap: 30px;
    padding:30px 0
}
.item{
    width: calc((100% - 90px)/4 );
    text-align: center;
    color:#3A3845;
}
.item img{
    width: 100%;
    height: auto;
}
.item h2{
    font-size: 18px;
    text-transform: uppercase;
}

/* ---------------------------------------------- */    

.best_sellers{
    text-align: center;
    padding: 80px 0;
}

.best_sellers .row{
    gap: 30px;
}

.best_sellers .sellers_item{
    text-align: left;
    width: calc((100% - 90px) / 4);
    margin-bottom: 40px;
}

.best_sellers h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.best_sellers h3{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 6%;
    text-transform: uppercase;
}

.best_sellers .price{
    font-family: var(--primary-font);
    color: var(--primary-color);
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 24px;
}

.best_sellers .description{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    color: #807F86;
    margin-bottom: 58px;
    width: 70%;
}

.best_sellers .add-to-cart{
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 8%;
    text-transform: uppercase;
    padding: 15px 81.5px;
    background-color: white;
    border: #3A3845 1px solid;
}
/* ---------------------------------------------- */ 

@media screen and (min-width:0px) and (max-width: 996px){
    .Menu {
        display: none;
    }

    .HeaderRight {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}

@media screen and (min-width:0px) and (max-width: 400px){
    .items .row{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
}

@media screen and (min-width:401px) and (max-width: 770px){
     .item{
        width: calc((100% - 60px)/2 );
    }
}

@media screen and (min-width:771px) and (max-width: 900px){
    .item{
        width: calc((100% - 60px)/3 );
    }
}