*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --primary-color: #3A3845;
    --primary-font: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

/* ---------------------------------------------- */

.container{
    width: calc(100% - 41%);
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------- */

.Header{
    padding: 21.84px 0;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 9;
}
.menu-icon{
    display: none;
}
.logo{
    width: 145px;
    height: auto;
}
.Menu ul{
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}
.HeaderRight ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.Header a {
    text-decoration: none;
    font: 14px var(--primary-font);
    color: var(--primary-color);
    transition-property: background-color, color;
    transition-duration: 0.6s;
}
.Header a:hover {
    color: #807F86;
}
.HeaderRight .cart a{
    position: relative;
}
.HeaderRight .cart a::after{
    content:'3';
    position: absolute;
    top: -14px;
    left: 14px;
    background: red;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
    color:white;
}

/* ---------------------------------------------- */

.hero{
    background-image: url(./../Images/hero/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin-bottom: 50px;
}
.hero .heroContent{
    display: flex;
    flex-direction: column;
    background: #826F66;
    margin-left: 10%;   
    width: 420px; 
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero .heroContent img{
    width: 85px;
    height: auto;
    margin-top: 50px;
}
.hero .heroContent h4{
    font-family: var(--primary-font);
    color: #FFFDFB;
    font-size: 16px;
    margin-top: 42px;
    font-weight: 300;
}
.hero .heroContent h1{
    font-size: 36px;
    color: #FFFDFB;
    letter-spacing: 6%;
    font-weight: 600;
    margin-top: 20px;
}
.hero .heroContent .shop-now{
    font-family: var(--primary-font);
    color: #826F66;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 8%;
    text-transform: uppercase;
    padding: 12px 71px;
    background-color: white;
    border: none;
    margin-top: 42px;
    transition: background-color 0.6s, color 0.6s;
}
.hero .heroContent .shop-now:hover{
    background-color: #c7bbb6;
    color: white;
    cursor: pointer;
}

/* ---------------------------------------------- */

.items{
    gap: 30px;
    padding:30px 0
}
.items .item{
    position: relative;
    width: calc((100% - 90px)/4 );
    text-align: center;
    color:#3A3845;
    overflow: hidden;
}
.items .item img{
    display: block;
    width: 100%;
}
.items .item h2{
    font-size: 24px;
    letter-spacing: 10%;
    font-family: var(--primary-font);
    text-transform: uppercase;
}
.items .item .sale_badge{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #3A3845;
    color: white;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 8%;
    text-transform: uppercase;
    padding: 5px 15px;
    z-index: 1;
}
.items .item .details{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(199, 187, 182, 0.7);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
}
.item:hover .details {
    opacity: 1;
}

/* ---------------------------------------------- */ 

.sales .grid-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.sales .grid-item img{
    width: 100%;
    height: 100%;
}
.sales .grid-item-l{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 78.5px ;
    background: #F7F6F5;
}
.sales .grid-item-l h3{
    font-size: 28px;
    letter-spacing: 4%;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 24px;
}
.sales .grid-item-l p{
    font-family: var(--primary-font);
    color: #595667;
    letter-spacing: 2%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 42px;    
}
.sales .shop-now{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 8%;
    text-transform: uppercase;
    border: none;
    background: #F7F6F5;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

/* ---------------------------------------------- */  

.best_sellers{
    text-align: center;
    padding: 80px 0;
}
.best_sellers .row{
    gap: 30px;
}
.best_sellers .item{
    text-align: left;
    width: calc((100% - 90px) / 4);
    margin-bottom: 40px;
}
.best_sellers .item img{
    width: 100%;
    height: auto;
}
.best_sellers h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.best_sellers h3{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 6%;
    text-transform: uppercase;
    margin-top: 24px;
}
.best_sellers .price{
    font-family: var(--primary-font);
    color: var(--primary-color);
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 24px;
}
.best_sellers .description{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    color: #807F86;
    margin-bottom: 58px;
}
.best_sellers .add-to-cart{
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 8%;
    text-transform: uppercase;
    padding: 15px 81.5px;
    background-color: white;
    border: #3A3845 1px solid;
    width: 100%;
    transition-property: background-color, color;
    transition-duration: 0.6s;
}
.best_sellers .add-to-cart:hover{
    background-color: #3A3845;
    color: white;
    cursor: pointer;
}

/* ---------------------------------------------- */ 

.history .grid-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(555px, 1fr));
    margin-bottom: 80px;
    width: 100%;
    height: 696px;
}
.history .grid-item-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 60px;;
    width: 100%;
    background: #F7F6F5;
}
.history .grid-item-t:nth-child(3){
    order: 4;
}
.history .grid-item-img-b:nth-child(4){
    order: 3;
}
.history .grid-item-t h3{
    font-size: 28px;
    letter-spacing: 4%;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 24px;
}
.history .grid-item-t p{
    font-family: var(--primary-font);
    color: #595667;
    letter-spacing: 2%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 42px;    
}
.history .grid-item-t .learn-more{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 8%;
    text-transform: uppercase;
    border: none;
    background: #F7F6F5;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}
.history .grid-item-img-t{
    width: 100%;
    height: 348px;
    background-image: url(./../Images/historyR.png);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: top;
}
.history .grid-item-img-b{
    width: 100%;
    height: 348px;
    background-image: url(./../Images/historyL.png);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}
/* ---------------------------------------------- */

.tariq img{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    height: auto;
    filter: drop-shadow(4px 0 10px rgba(0,0,0,0.9));
}

/* ---------------------------------------------- */ 

@media screen and (min-width:0px) and (max-width: 1024px){
    .hero{
        background-attachment: scroll;
    }
    .Menu {
        display: none;
    }
    .HeaderRight {
        display: none;
    }
    .menu-icon {
        display: block;
        order: 1;
    }
}
@media screen and (min-width:0px) and (max-width: 425px){
    .container{
        width: calc(100% - 20%);
    }
    .hero{
        display: flex;
        align-items: end;
    }
    .hero .heroContent{
        width: 100%;
        height: 60%;
        margin-left: 0;
        padding: 20px;
    }
    .hero .heroContent h1{
        font-size: 36px;
    }
    .hero .heroContent h4{
        font-size: 16px;
    }
    .hero .heroContent img{
        width: 60px;
        margin-top: 30px;
    }
    .hero .heroContent .shop-now{
        padding: 12px 70px;
        font-size: 12px;
    }
    .sales .container{
        width: 100%;
    }
    .sales .grid-items{
        grid-template-columns: repeat(1, 2fr);
    }
    .sales .grid-item-l{
        padding: 50px 0.3px;
    }
    .sales .grid-item-l h3{
        font-size: 23px;
    }
    .sales .grid-item-l p{
       font-size: 12.5px;
    }
    .items .row{
        flex-direction: column;
    }
    .items .item{
        width: 100%;
        margin-bottom: 30px;
    }
    .best_sellers h2{
        font-size: 24px;
    }
    .best_sellers .item{
        width: 100%;
    }
    .best_sellers .add-to-cart{
        padding: 15px 49px;
        font-size: 11px;
    }
    .history .grid-item-t:nth-child(3){
        order: 3;
    }
    .history .grid-item-img-b:nth-child(4){
        order: 4;
    }
    .history .container{
        width: 100%;
    }
    .history .grid-items{
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: repeat(4, 2fr);
        height: auto;
    }
    .history .grid-item-t{
        padding: 0 30px;;
    }
}
@media screen and (min-width:426px) and (max-width: 768px){
    .container{
        width: calc(100% - 20%);
    }
    .hero .heroContent{
        width: 50%;
        margin-left: 0;
        padding: 30px;
    }
    .hero .heroContent h1{
        font-size: 28px;
    }
    .hero .heroContent h4{
        font-size: 14px;
    }
    .hero .heroContent img{
        width: 70px;
        margin-top: 35px;
    }
    .hero .heroContent .shop-now{
        padding: 12px 50px;
    }
    .items .item{
        width: calc((100% - 30px)/2 );
        margin-bottom: 30px;
    }
    .sales .container{
        width: 100%;
    }
    .sales .grid-items{
        grid-template-columns: repeat(1, 2fr);
    }
    .sales .grid-item-l{
        padding: 120px 40px;
    }
    .best_sellers .item{
        width: calc((100% - 30px)/2 );
    }
    .history .grid-item-t:nth-child(3){
        order: 3;
    }
    .history .grid-item-img-b:nth-child(4){
        order: 4;
    }
    .history .container{
        width: 100%;
    }
    .history .grid-items{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: auto;
    }
    .history .grid-item-t{
        padding: 0 30px;;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px){
    .container{
        width: calc(100% - 20%);
    }
    .hero .heroContent{
        width: 50%;
        margin-left: 5%;
    }
    .hero .heroContent h1{
        font-size: 32px;
    }
    .items .item{
        width: calc((100% - 60px)/2 );
        margin-bottom: 30px;
    }
    .sales .container{
        width: 100%;
    }
    .sales .grid-item-l{
        padding: 120px 40px;
    }
    .best_sellers .item{
        width: calc((100% - 30px)/2 );
    }
    .history .container{
        width: 100%;
    }
    .history .grid-items{
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
    .history .grid-item-t{
        padding: 0 30px;;
    }
}
@media screen and (min-width:1025px) and (max-width: 1440px){
    .container{
        width: calc(100% - 30%);
    }
    .hero .heroContent{
        width: 30%;
    }
    .best_sellers h3{
        font-size: 12px;
    }
     .best_sellers .price{
        font-size: 12px;
    }
    .best_sellers .add-to-cart{
        padding: 15px 49px;
        font-size: 11px;
    }
    .history .container{
        width: 100%;
    }
    .history .grid-items{
        grid-template-columns: repeat(2, fr);
        height: auto;
    }
    .history .grid-item-t{
        padding: 0 30px;;
    }
}